# Python
*.py[cod]
__pycache__

# Editing
*~
tags
.idea

# Distutils
AllNamesQuickview/locale/
AncestorFill/locale/
AssociationsTool/locale/
AttachSourceTool/locale/
BirthdaysGramplet/locale/
BirthOrder/locale/
CalculateEstimatedDates/locale/
Census/locale/
ChangeGivenNames/locale/
CliMerge/locale/
ClipboardGramplet/locale/
ClockGramplet/locale/
D3Charts/locale/
DataEntryGramplet/locale/
DateCalculator/locale/
DeepConnectionsGramplet/locale/
DenominoViso/locale/
DescendantBooks/locale/
DescendantCount/locale/
DescendantsLines/locale/
DEWebConnectPack/locale/
Differences/locale/
Django/locale/
DownloadMedia/locale/
DynamicWeb/locale/
EditExifMetadata/locale/
ExportProlog/locale/
ExportRaw/locale/
ExtendedAttributes/locale/
ExtractCity/locale/
FaceDetection/locale/
FamilySheet/locale/
FamilyTree/locale/
Form/locale/
FRWebConnectPack/locale/
GedcomExtensions/locale/
GetGOV/locale/
GoogleEarthWriteKML/locale/
GraphView/locale/
HeadlineNewsGramplet/locale/
HtmlView/locale/
HtreePedigreeView/locale/
ImportGramplet/locale/
ImportMerge/locale/
JSON/locale/
LastChange/locale/
libaccess/locale/
libwebconnect/locale/
LinesOfDescendency/locale/
ListeEclair/locale/
lxml/locale/
MediaBrowser/locale/
MediaVerify/locale/
NetworkChart/locale/
NoteCleanup/locale/
NoteGramplet/locale/
NumberOfDescendantsQuickview/locale/
Participants/locale/
PedigreeChart/locale/
PersonEverything/locale/
PhotoTaggingGramplet/locale/
PhpGedView/locale/
PlaceCompletion/locale/
PluginManager/locale/
PythonGramplet/locale/
Query/locale/
QuiltView/locale/
RebuildTypes/locale/
RelatedRelativesGramplet/locale/
RelID/locale/
RepositoriesReport/locale/
SetAttributeTool/locale/
SourceIndex/locale/
SourceReferences/locale/
SourcesCitationsReport/locale/
Sqlite/locale/
SurnameMappingGramplet/locale/
ThumbnailGenerator/locale/
TimelinePedigreeView/locale/
TimelineQuickview/locale/
ToDoReport/locale/
UKWebConnectPack/locale/
USWebConnectPack/locale/
WorldleGramplet/locale/

# Testing
libwebconnect.ini

# DynamicWeb
DynamicWeb/reports/
DynamicWeb/templates/*/data/bootstrap/dist/css/*.map
DynamicWeb/templates/*/data/bootstrap/dist/css/bootstrap.css
DynamicWeb/templates/*/data/bootstrap/dist/css/bootstrap-theme.css
DynamicWeb/templates/*/data/bootstrap/dist/js/bootstrap.js
DynamicWeb/templates/*/data/bootstrap/dist/js/npm.js
DynamicWeb/templates/*/data/bootstrap/node_modules
